APP_IMAGE=filonsegundo/rinha-dotnetrust-api:submission
LB_IMAGE=filonsegundo/rinha-dotnetrust-lb:submission
OFFICIAL_REPO=../rinha-de-backend-2026-main
LB_CPUS=0.10
API1_CPUS=0.45
API2_CPUS=0.45
LB_WORKERS=1
LB_BUF_SIZE=4096
RINHA_PROBES=2
RINHA_MAX_CANDIDATES_PER_CENTER=768
RINHA_NATIVE_FAST_PROBES=16
RINHA_NATIVE_FULL_PROBES=64
